<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
    <p><a href="/emails">[список писем]</a></p>

    <h2>В процессе <a href="new_job">[добавить]</a></h2>
    <ul>
        {% for job in jobs_scheduled %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>(отсутствуют)</em></li>
        {% endfor %}
    </ul>

    <h2>Сообщения отправлены</h2>
    <ul>
        {% for job in jobs_in_progress %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>(отсутствуют)</em></li>
        {% endfor %}
    </ul>

    <h2>Завершившиеся с ошибкой</h2>
    <ul>
        {% for job in jobs_failed %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>(отсутствуют)</em></li>
        {% endfor %}
    </ul>

    <h2>Завершившиеся успешно</h2>
    <ul>
        {% for job in jobs_completed %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>(отсутствуют)</em></li>
        {% endfor %}
    </ul>
</body>
</html>
