<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать новую задачу</title>
</head>
<body>
    <form action="{{ url_for('new_task') }}" method="POST">
        {% for field in (form.dest_address, form.message_subject, form.message_text) %}
            <div>
                {% if field.errors %}
                    <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <label for="{{ field.id }}">{{ field.label }}: </label>
                {{ field }}
            </div>
        {% endfor %}

        {{ form.csrf_token }}

        <input type="submit" value="Отправить" />
    </form>
</body>
</html>
